
<div class=bg>
    <div class="container">
        <div class="card bg-light mb-3">
            <h5 class="card-header text-center">SignupSeller</h5>
            <div class="card-body">
                <form [formGroup]="SignupForm" (ngSubmit)="onSubmit()">
                    
                        <div class="form-group col-md-5 offset-4">
                            <label>SellerId</label>
                            <input type="number" formControlName="sid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sid.errors }" />
                            <div *ngIf="submitted && f.sid.errors" class="invalid-feedback">
                            <div *ngIf="f.sid.errors.required">Buyer id is required</div> 
                            </div>        
                        </div>
                    
                    
                        <div class="form-group col-md-5 offset-4">
                            <label for="username">Username</label>
                            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>
                            </div>
                        </div>
                    
                        <div class="form-group col-md-5 offset-4">
                            <label for="password">Password</label>
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                        </div>
        
                    <div class="form-group col-md-5 offset-4 ">
                        <label>Email</label>
                        <input type="text" formControlName="emailid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailid.errors }" />
                        <div *ngIf="submitted && f.emailid.errors" class="invalid-feedback">
                            <div *ngIf="f.emailid.errors.required">Email is required</div>
                            <div *ngIf="f.emailid.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group col-md-5 offset-4 ">
                        <label>Website</label>
                        <input type="text" formControlName="website" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.website.errors }" />
                        <div *ngIf="submitted && f.website.errors" class="invalid-feedback">
                            <div *ngIf="f.website.errors.required">website is required</div>
                            
                        </div>
                    </div>
                    
                    <div class="form-group col-md-5 offset-4">
                        <label>Mobile</label>
                        <input type="text" formControlName="contactnumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contactnumber.errors }" />
                        <div *ngIf="submitted && f.contact_number.errors" class="invalid-feedback">
                            <div *ngIf="contactnumber.errors.required">Mobile no is required</div>
                            <div *ngIf="f.contactnumber.errors.pattern">Mobile no Must be Valid</div>
                        </div>
                    </div>
                    <div class="form-group col-md-5 offset-4 ">
                        <label>GSTIN</label>
                        <input type="text" formControlName="GSTIN" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.GSTIN.errors }" />
                        <div *ngIf="submitted && f.GSTIN.errors" class="invalid-feedback">
                            <div *ngIf="f.GSTIN.errors.required">gstin is required</div>
                            
                        </div>
                    </div>
                    <div class="form-group col-md-5 offset-4 ">
                        <label>Postal Address</label>
                        <input type="text" formControlName="postal_address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.postal_address.errors }" />
                        <div *ngIf="submitted && f.postal_address.errors" class="invalid-feedback">
                            <div *ngIf="f.postal_address.errors.required">postal address is required</div>
                           
                        </div>
                    </div>
                    <div class="form-group col-md-5 offset-4 ">
                        <label>Company Name</label>
                        <input type="text" formControlName="companyname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.companyname.errors }" />
                        <div *ngIf="submitted && f.companyname.errors" class="invalid-feedback">
                            <div *ngIf="f.companyname.errors.required">comapany name is required</div>
                           
                        </div>
                    </div>
                   
                
                    <div class="form-group form-check col-md-5 offset-5">
                        <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                        <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                        <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                    </div>
                
                <div class="text-center">
                    <button class="btn btn-primary mr-1">Signup</button>
                    <button class="btn btn-danger" type="reset" (click)="onReset()">Reset</button>
                </div>
                </form>
            </div>
        </div>
        </div>
        </div>
        