<div class="container p-6 my-6 text-black">
    <div class="card">
    <h5 class="card-header text-center">Add Items</h5>
    <div class="card-body">
      <form [formGroup]="additemsForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <!-- <div class="col-md-4">
          <label>ItemId:</label>
          <input type="text" formControlName="Iid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Iid.errors }">
          <div *ngIf="submitted && f.Iid.errors" class="invalid-feedback">
            <div *ngIf="f.Iid.errors.required">itemid is required</div>
          </div>
        </div> -->
        <div class="col-md-4">
          <label>CategoryName:</label>
          <select id="s1" formControlName="categoryid" (change)="onGetsubcategory()" class="form-control  input-line full-width" >
            <option *ngFor="let cat of categorylist" value="{{cat.categoryid}}">{{cat.categoryname}}</option>
            </select>
          <div *ngIf="submitted && f.categoryid.errors" class="invalid-feedback">
            <div *ngIf="f.categoryid.errors.required">categoryname is required</div>
          </div>
        </div>
        
        
          <div class="col-md-4">
          <label>SubcategoryName:</label>
          <select id="s2" formControlName="subcategoryid" class="form-control  input-line full-width" >
            <option *ngFor="let cat of subcategorylist" value="{{cat.subcategoryid}}">{{cat.subcategoryname}}</option>
            </select>
          <div *ngIf="submitted && f.subcategoryid.errors" class="invalid-feedback">
            <div *ngIf="f.subcategoryid.errors.required">Subcategoryname is required</div>
          </div>
        </div>
        
        <div class="col-md-4">
            <label>ItemName:</label>
            <input type="text" formControlName="itemname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.itemname.errors }">
            <div *ngIf="submitted && f.itemname.errors" class="invalid-feedback">
              <div *ngIf="f.itemname.errors.required">category is required</div>
            </div>
          </div>
      
          <div class="col-md-4">
            <label>Price:</label>
            <input type="number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
            <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
              <div *ngIf="f.price.errors.required">category is required</div>
            </div>
          </div>
      
          <div class="col-md-4">
            <label>Description:</label>
            <input type="text" formControlName="description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }">
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <div *ngIf="f.description.errors.required">description is required</div>
            </div>
          </div>
      
          <div class="col-md-4">
              <label>Stock:</label>
              <input type="number"formControlName="stocknumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.stocknumber.errors }">
              <div *ngIf="submitted && f.stocknumber.errors" class="invalid-feedback">
                <div *ngIf="f.stocknumber.errors.required">category is required</div>
              </div>
            </div>
            <div class="col-md-4">
              <label>Remarks:</label>
              <input type="text"formControlName="remarks" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }">
              <div *ngIf="submitted && f.remarks.errors" class="invalid-feedback">
                <div *ngIf="f.remarks.errors.required">remarks is required</div>
              </div>
            </div>
      </div>
            <br>
           <div class="row">
              <div class="col-md-4">
                <div class="text-center">
                <input type="file" formControlName="Photo" name="Photo" (change)="fileEvent($event)" />
              </div>
              </div>
              </div>
              <div class="col-sm-10">
           
              <div class="text-center">
                <button class="btn btn-primary mr-1">Add</button>
                <button class="btn btn-danger" type="reset" (click)="onReset()">Reset</button>
            </div>
         
<!--             
       </form>
      </div>
      </div> -->
      </div>

     