
  
<div class="form-inline my-2 my-lg-0 offset-5">
      <!-- <input class="form-control mr-sm-2" formControlName="itemname" type="search" placeholder="Search" aria-label="Search"[(ngModel)]="itemname"> -->
      <!-- <input type="search" formControlName="itemname" placeholder="Search" aria-label="Search"> -->
          <button class="btn btn-success my-2 my-sm-0" type="submit" (click)="Search()">Search</button>
    </div>
  
  <br>
 
  <div class="form-inline my-2 my-lg-0 offset-5 text-center" >
    <label style="color:blueviolet;"><h5><b>Search From Category List:&nbsp;</b></h5></label> 
    <select [(ngModel)]="category">   
        <option *ngFor="let item of clist" value="{{item.categoryid}}">{{item.categoryname}}</option>
      </select>&nbsp;
      <button class="btn btn-primary" type="button" (click)="SearchByCategory(category)">Search</button>
  </div>
  <br>
  
  
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of list">
      
          <div class="card">
            <img class="img" src="/assets/images/{{item.photo}}" alt="{{item.itemname}}" height="100px" align-items="center" width="300px">
              <h5 class="card-title">{{item.itemname}}</h5>
              <div class="card-body">
              
                Price: {{item.price}}<br/>
                Description:{{item.description}}<br/>
               
            </div>
         
            <div class="card-footer">
              <div class="text-center">
                <button class="btn btn-success mr-1" (click)="Buy()" >Buy</button>
                <button class="btn btn-outline-info"(click)="AddtoCart(item)" >AddToCart</button>
            </div>
            
            </div>
            
          </div>
          <br>
        </div>
      </div>
    </div>
  
  
     