
<div class="container">
	<div class="card" style="background-color: rgb(31, 191, 231);">
	<table id="cart" class="table" >
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of cartlist">
							<td data-th="Product" >
								 <div class="row"  >
									<div class="col-md-4 hidden-xs" ><img src="/assets/images/{{item.photo}}" style="height: 150px;width: 150px;" alt="..." class="img-responsive"/></div>
									<div class="col" >
										<h4 class="nomargin">{{item.itemname}}</h4>
										<p>{{item.description}}</p>
									</div>
								</div> 
							</td>
							 <td data-th="Price">{{item.price}}</td>
							 <td>
								
								<button [routerLink]="['/buyer/buyproduct']" (click)="Buynow(item)">BUY</button>								
							</td>
							
							<td class="actions" data-th="">
								
								<button class="btn btn-default btn-sm" class="glyphicon glyphicon-trash" (click)="Remove(item.cartid)">Delete</button>								
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td><a [routerLink]="['/buyer/search']" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							
							
						</tr>
					</tfoot>
				</table>
</div>
</div>
