<div class="container">
	<table id="cart" class="table" >
    				<thead>
						<tr>
							<th style="width:50%">Product</th>
							<th style="width:10%">Price</th>
							<th style="width:8%">Quantity</th>
							<th style="width:22%" class="text-center">Subtotal</th>
							<th style="width:10%"></th>
						</tr>
					</thead>
					<tbody *ngFor="let item of cartlist">
						<tr>
							<td data-th="Product">
								<div class="row" >
									<div class="col-sm-2 hidden-xs">   <img class="img" src="/assets/images/{{item.photo}}" alt="Card image" style="width:100%"></div>
									<div class="col-sm-10">
										<h4 class="nomargin">{{item.itemname}}</h4>
										<p>{{item.description}}</p>
									</div>
								</div>
							</td>
							<td data-th="Price">{{item.price}}</td>
							<td data-th="Quantity">
								<input type="number" class="form-control text-center" value="1">
							</td>
							<td data-th="Subtotal" class="text-center"></td>
							<td class="actions" data-th="">
								
								<button class="btn btn-danger btn-sm" (click)="Remove(item.cartid)"><i class="fa fa-trash-o"></i></button>								
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr class="visible-xs">
							<td class="text-center"><strong>Total 0.00</strong></td>
						</tr>
						<tr>
							<td><a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
							<td colspan="2" class="hidden-xs"></td>
							<td class="hidden-xs text-center"><strong>Total0.00</strong></td>
							<td><a  class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
						</tr>
					</tfoot>
				</table>
</div>

<!-- <div class="container">
	<div class="row">
	  <div class="card bg-dark" *ngFor="let item of cartlist" style="width:250px;">
		<img class="card-img-top" src="/assets/Images/{{item.photo}}" alt="Card image cap">
		<h5 class="card-title" style="color: whitesmoke;">{{item.itemname}}</h5>
		<div class="card-body" style="color: whitesmoke;">
		  ItemId:{{item.iid}}<br/>
		  CategoryId:{{item.categoryid}}<br/>
		  SubCategoryId:{{item.subcategoryid}}<br/>
		  SellerId: {{item.sid}}<br/>
		  Price: {{item.price}}<br/>
		  Description:{{item.description}}<br/>
		  Remarks:{{item.remarks}}   
			<br/>
			 <br/>
			<button type="button" class="btn btn-primary" (click)="Buynow(item1)">Buy Now</button>&nbsp; 
		  </div>
		  </div>
	</div>
  </div> -->



