<p>viewprofile works!</p>
<nav class="navbar navbar-expand-lg navbar-light border-bottom box-shadow mb-3"  style="background-color: #e3f2fd;">
    <div class="container">
        <h6 class="navbar-brand" ><img src="assets\images\Emart.png"width="100" height="35" alt=""></h6> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active ">
          <a class="nav-link" href="#" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="#">Buyproducts</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#">PurchaseHistory</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">ViewCart</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">Viewprofile</a>
          </li>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    
    </ul>
    
      <div class="nav-item ml-auto">
        <a class="nav-link" href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
      </div>
    
    </div>
</div>
</nav>
<div class="container">
    <div class="card bg-light mb-3">
        <h5 class="card-header text-center">Edit Profile</h5>
        <div class="card-body">
            <form [formGroup]="EditProfileForm">
              <!-- (ngSubmit)="onSubmit()"  -->
                <div class="form-group col-md-5 offset-4">
                    <label>BuyerId:</label>
                    <input type="text" formControlName="Bid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Bid.errors }" />
                    <div *ngIf="submitted && f.Bid.errors" class="invalid-feedback">
                    <div *ngIf="f.Bid.errors.required">Buyer id is required</div> 

                    </div>        
                </div>

                    <div class="form-group col-md-5 offset-4">
                        <label for="username">Username:</label>
                        <input type="text" formControlName="Username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Username.errors }" />
                        <div *ngIf="submitted && f.Username.errors" class="invalid-feedback">
                            <div *ngIf="f.Username.errors.required">Username is required</div>
                        </div>
                    </div>
                
                    <div class="form-group col-md-5 offset-4">
                        <label for="password">Password:</label>
                        <input type="password" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
                        <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                            <div *ngIf="f.Password.errors.required">Password is required</div>
                            <div *ngIf="f.Password.errors.pattern">Pasword Must be Valid</div>
                        </div>
                    </div>
    
                <div class="form-group col-md-5 offset-4 ">
                    <label>Email:</label>
                    <input type="email" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" />
                    <div *ngIf="submitted && f.Email.errors" class="invalid-feedback">
                        <div *ngIf="f.Email.errors.required">Email is required</div>
                        <div *ngIf="f.Email.errors.email">Email must be a valid email address</div>
                    </div>
                </div>
                
                <div class="form-group col-md-5 offset-4">
                    <label>Mobile:</label>
                    <input type="text" formControlName="Mobile" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Mobile.errors }" />
                    <div *ngIf="submitted && f.Mobile.errors" class="invalid-feedback">
                        <div *ngIf="f.Mobile.errors.required">Mobile no is required</div>
                        <div *ngIf="f.Mobile.errors.pattern">Mobile no Must be Valid</div>
                    </div>
                </div>
                <div class="form-group col-md-5 offset-4">
                  <label>DateTime:</label>
                  <input type="date" data-date-format="Y M D" formControlName="Datetime" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Datetime.errors }" />
                  <div *ngIf="submitted && f.Datetime.errors" class="invalid-feedback">
                      <div *ngIf="f.Datetime.errors.required">Date is required</div>
                      <!-- <div *ngIf="f.datetime.errors.pattern">Date Must be Valid Format</div> -->
                  </div>
              </div> 
                

            <div class="text-center">
              <button class="btn btn-success mr-1" type="search" (click)="onSearch()">Search</button>
                <button class="btn btn-primary mr-1" (click)="onSubmit()">Update</button>
                <button class="btn btn-danger" type="reset" (click)="onReset()">Reset</button>
            </div>
            </form>
        </div>
    </div>
    </div>