<form [formGroup]="Buyerform" (ngSubmit)="Onsubmit()">
  <div class="container register-form" id="form" style="float: right;margin-top:90px;margin-right:130px;">
      <div class="form">
          <div class="note">
              <p>Register Here</p>
          </div>
          
          <div class="form-content"  style="border-color: white;">
              <div class="row">
                  
                  <div class="col-md-6">
                      <!-- <div class="form-group">
                          <input type="text" formControlName="bid" class="form-control" placeholder="BuyerID *" [ngClass]="{ 'is-invalid': submitted && f.bid.errors }" />
                                  <div *ngIf="submitted && f.bid.errors" class="invalid-feedback">
                                      <div *ngIf="f.bid.errors.required">id is required</div>
                                      <div *ngIf="f.bid.errors.pattern">Enter valid id ex:B445</div>
                                  </div>
                      </div> -->
                      <div class="form-group">
                          <input type="text" formControlName="username" class="form-control" placeholder="Your Name *" value=""  [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
                          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                              <div *ngIf="f.username.errors.required">First Name is required</div>
                              <div *ngIf="f.username.errors.pattern">Enter only Alphabets</div>
                          </div>
                          
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          
                          <input type="password" formControlName="password" class="form-control" placeholder="Your password *" value="" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                              <div *ngIf="f.password.errors.required">First Name is required</div>
                              <div *ngIf="f.password.errors.pattern">Enter only Alphabets</div>
                          </div>
                      </div>
                  </div>
                   <div class="col-md-6">
                      <div class="form-group">
                          <input type="email" formControlName="emailid" class="form-control" placeholder="Your email *" value="" [ngClass]="{ 'is-invalid': submitted && f.emailid.errors }"/>
                          <div *ngIf="submitted && f.emailid.errors" class="invalid-feedback">
                              <div *ngIf="f.emailid.errors.required">First Name is required</div>
                              <div *ngIf="f.emailid.errors.pattern">Enter only Alphabets</div>
                          </div>
                      </div>
                      
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <input type="text" formControlName="mobilenumber" class="form-control" placeholder="Your Mobile Number*" value="" [ngClass]="{ 'is-invalid': submitted && f.mobilenumber.errors }"/>
                          <div *ngIf="submitted && f.mobilenumber.errors" class="invalid-feedback">
                              <div *ngIf="f.mobilenumber.errors.required">First Name is required</div>
                              <div *ngIf="f.mobilenumber.errors.pattern">Enter only Alphabets</div>
                          </div>
                      </div>
                      
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <input type="text" formControlName="createddatetime" class="form-control" placeholder="Created date time*" value="" [ngClass]="{ 'is-invalid': submitted && f.createddatetime.errors }"/>
                          <div *ngIf="submitted && f.createddatetime.errors" class="invalid-feedback">
                              <div *ngIf="f.createddatetime.errors.required">First Name is required</div>
                              <div *ngIf="f.createddatetime.errors.pattern">Enter only Alphabets</div>
                          </div>
                      </div>
                      
                  </div>
          </div>
           
          </div>
     
      </div>
  </div>
</form>