


<h1 class="text-info">welcome {{username}}</h1>
<div class="topnav">
   
    <a [routerLink]="['/seller/add-items']" >Add Item</a> 
    <a [routerLink]="['/seller/view-reports']" >View Reports</a>
    <a [routerLink]="['/seller/view-items']" >View Items</a>
    <a [routerLink]="['/seller/viewprofile']" >Edit Profile</a>
    <a href="#Logout()" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-log-out"></span> Log out
      </a>
    

    
  </div>



    
  
    

<router-outlet></router-outlet>