
<div class=bg>
<h1 class="text-info">welcome {{username}}</h1>
<div class="topnav">
   
    <!-- <a [routerLink]="['/buyer/buyproduct']" >BuyItem</a>  -->
    <a [routerLink]="['/buyer/purchase-history']" >Purchase History</a>
    <a [routerLink]="['/buyer/viewcart']" ><span class="glyphicon glyphicon-shopping-cart"></span>View Cart</a>
    <a [routerLink]="['/buyer/buyerprofile']" >Edit Profile</a>
    <a [routerLink]="['/buyer/search']">SearchItems</a>
    <a [routerLink]="['/home']" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-log-out"></span> Log out
      </a>&nbsp;
      
      
      
  </div>
  <router-outlet></router-outlet>
  </div>



    
  
    

