

        <div class=bg>
            <h1 class="text-info">welcome {{username}}</h1>
            
            <div class="topnav">
               
                <a [routerLink]="['/admin/add-category']" >Add Category</a> 
                <a [routerLink]="['/admin/add-subcategory']" >Add SubCategory</a>
               
                <a [routerLink]="['/admin/viewcategory']" >View Category</a> 
                <a [routerLink]="['/admin/viewsubcategory']" >View SubCategory</a>
              
                <a href="home" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-log-out"></span> Log out
                  </a>
                  
            
               
              </div>
              <router-outlet></router-outlet>
              </div>
              
              
            

