.container{
    height: 100%;
    align-content:center;
    }
    
    .card{
      align-content: center;
    height: 500px;
    margin-top: static;
    margin-bottom: auto;
    width: 700px;
     /* background-color: rgba(97, 35, 6, 0.5) !important; */
     background-color: rgb(31, 191, 231) !important; 
    }