<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="home">EMART</a>
    </div>
    <ul class="nav navbar-nav">
      <ul class="active"><a href="home">Home</a></ul>
    </ul>
      

   
      <ul ><a href="register-buyer"><span class="glyphicon glyphicon-user"></span> Sign Up buyer</a></ul>
      <ul><a href="register-seller"><span class="glyphicon glyphicon-user"></span> Sign Up seller</a></ul>
      <ul><a href="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></ul>
    
    
  </div>
</nav>
  
<div class="container" align="right">
    <div id="home" class="carousel slide" data-ride="carousel">

       
        <ul class="carousel-indicators">
          <li data-target="home" data-slide-to="0" class="active"></li>
          <li data-target="home" data-slide-to="1"></li>
          <li data-target="home" data-slide-to="2"></li>
        </ul>
      
       
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/bag.jpg" alt="phone" style="width:1000px" height="500px">
          </div>
          <div class="carousel-item">
            <img src="assets/images/phone.jpg" alt="washing" style="width:1000px" height="500px">
          </div>
          <div class="carousel-item">
            <img src="assets/images/washing.jpg" alt="bag" style="width:1000px" height="500px">
          </div>
        </div>
      
       
        <a class="carousel-control-prev" href="home" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="home" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      
      </div>
</div>


</body>
</html>
<router-outlet></router-outlet>
