
    <div class="container p-5 my-5 bg-dark text-black">
    <div class="card "> 
        <div class="bg2">
       
        <h5 class="card-header text-center">Signup-Buyer</h5>
         <div class="card-body"> 
            
            <form [formGroup]="SignupForm" (ngSubmit)="onSubmit()">
                
                
                  
                       <div class="row">
                        <div class="col-md-6">
                     
                        <label for="username">Username</label>
                        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                            <div *ngIf="f.username.errors.pattern">Username must contain atleast 3 letters</div>
                        </div>
                    </div>
                        
                    <div class="col-md-6">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                            <div *ngIf="f.password.errors.pattern">password must contain 7 alphabets and any 1 special character should contain</div>
                        </div>
                    </div>
                       </div>
    <div class="row">
                    <div class="col-md-6">
                    <label for="emailid">Email</label>
                    <input type="text" formControlName="emailid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.emailid.errors }" />
                    <div *ngIf="submitted && f.emailid.errors" class="invalid-feedback">
                        <div *ngIf="f.emailid.errors.required">Email is required</div>
                        <div *ngIf="f.emailid.errors.email">Email must be a valid email address</div>
                   
                </div>
                    </div>
                
                <div class="col-md-6">
                    <label>Mobile</label>
                    <input type="text" formControlName="mobilenumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.mobilenumber.errors }" />
                    <div *ngIf="submitted && f.mobilenumber.errors" class="invalid-feedback">
                        <div *ngIf="f.mobilenumber.errors.required">Mobile number is required</div>
                        <div *ngIf="f.mobilenumber.errors.pattern">Mobile contain 10 numbers and starts with 6,7,8,9 numbers</div>
                    </div>
                </div>
              
    </div>
                <div class="col-md-6">
                    <label>DateTime</label>
                    <input type="date" formControlName="createddatetime" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.createddatetime.errors }" />
                    <div *ngIf="submitted && f.createddatetime.errors" class="invalid-feedback">
                        <div *ngIf="f.createddatetime.errors.required">Date is required</div>
                        <div *ngIf="f.createddatetime.errors.pattern">Date Must be Valid Format</div>
                    </div>
               
               
                    <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                    <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                    <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                </div>
            
            <div class="text-center">
                <button class="btn btn-primary mr-1">Signup</button>
                <button class="btn btn-danger" type="reset" (click)="onReset()">Reset</button>
            </div>
            </form>
         
            
        </div>
    </div>
    </div>
    </div>
   

    
    