
 


   
<br><br><br><br>
<!-- <div class="container" id="c1">
      <div class="row">
        <div class="col-md-4" *ngFor="let item of list">
      
      <div class="card">
        <img class="card-img-top" src="assets/images/{{item.photo}}" alt="{{item.itemname}}" height="100px" align-items="center" width="190px">
        <div class="card-body">
           
          ItemName:{{item.itemname}}<br><br>
          Price: {{item.price}}<br/><br>
          Description:{{item.description}}<br/><br/>  
          <button class="btn btn-danger" (click)="Delete(item.iid)">Delete</button>  &nbsp;
          <button class="btn btn-primary" (click)="Edit(item.iid)" data-toggle="modal" data-target="#myModal">Edit</button> 
          </div>
          </div>
<br>
      </div>
      </div>
      </div> -->
 
  
      <div class="container">
        <div class="row" >
          <div class="col-md-4" *ngFor="let item of list">
          <div class="card" style="background-color: rgb(31, 191, 231);">
            <img class="img" src="/assets/images/{{item.photo}}" alt="{{item.itemname}}" height="200px" align-items="center" width="350px">
            <div class="card-body">
           
              ItemName:{{item.itemname}}<br><br>
              Price: {{item.price}}<br/><br>
              Description:{{item.description}}<br/><br/>  
                <td><button class="btn btn-primary  mr-1"     data-toggle="modal" data-target="#myModal"(click)="Search(item.iid)">Edit</button></td>
            
                    <td><button class="btn btn-danger  mr-1" (click)="Delete(item.iid)">Delete</button></td>
             
            </div>
          </div>
        </div>
          </div>
         </div>
      
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog ">
          <div class='bold-line'></div>
          <div class='window'>
            <div class='overlay'></div>
               <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                   <div class='welcome'>Edit Item</div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                  
                 <div class="modal-body">
                    <form [formGroup]="itemform" >
                          <div class="input-fields">
                            
                            <label>Iid</label>
                            <input type="text" formControlName="Iid"  readonly class="form-control input-line full-width"/>
                            <label>ItemName</label>
                            <input type="text" formControlName="itemname"   class="form-control input-line full-width"/>  
                            <label>Price</label>
                            <input type="text" formControlName="price" class="form-control input-line full-width"/>
                            <label>Description</label>
                            <input type="text" formControlName="description" class="form-control input-line full-width"/>
                            <label>Remarks</label>
                            <input type="text" formControlName="remarks" class="form-control input-line full-width"/>
                            <!-- <label>Image</label>
                            <input type="file" formControlName="Photo" class="form-control input-line full-width"/> -->
                          </div>
                    </form>
                   </div>
            
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="Update()" data-dismiss="modal">Save</button>
          </div>
        </div>
        
      </div>
    </div>
    