<div class="view">    
    <div class="container">
           <div class=" table">
            <div class="table-info">
               <tr>
                   <th>SubcategoryId</th>
                   <th>SubCategoryName</th>
                   <th>CategoryId</th>
                   <th>Briefdetails</th>
                   <th>Gst</th>
               </tr>
               <tr *ngFor="let item of subcategory">  
                   <td>{{item.subcategoryid}}</td>
                    <td>{{item.subcategoryname}}</td>
                    <td>{{item.categoryid}}</td>
                    <td>{{item.briefdetails}}</td>
                    <td>{{item.gst}}</td>
                    <td><button class="btn btn-primary  mr-1"     data-toggle="modal" data-target="#myModal">Edit</button></td>
                    <td><button class="btn btn-danger  mr-1" (click)="Deletesubcategory(item.subcategoryid)">Delete</button></td>
               </tr>
            </div>   
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Modal Header</h4>
                    </div>
                    <div class="modal-body">
                      <p>This is a large modal.</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                        </div>
                        </div>
        </div>
                      
        </div>
        
       </div>
    
    </div>